<div style='background-color : lightgreen'>
    <a id='TableOfContents'></a>
    <h1 style='text-align : center; padding-top: 20px; font-family: cursive;'>
        Table of Contents
    </h1>
    <ul style='list-style-type:none; display: flex; justify-content: center; margin-bottom: 30px;padding-left: 250px;'>
        <li style='margin-right: 20px;'><a href='#imports'>Imports</a></li>
        <li style='margin-right: 20px;'><a href='#q1'>Question 1</a></li>
        <li style='margin-right: 20px;'><a href='#q2'>Question 2</a></li>
        <li style='margin-right: 20px;'><a href='#q3'>Question 3</a></li>
        <li style='margin-right: 20px;'><a href='#q4'>Question 4</a></li>
    </ul>
</div>

<div style='background-color : lightblue'>
<a id='imports'></a>
    <b><u><i><h1 style='text-align : center;padding-top: 25px;''>
        Imports
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
import pyspark

import pandas as pd
import numpy as np

from pydataset import data
from pyspark.sql.functions import col, expr
from pyspark.sql import functions as F

<div style='background-color : lightblue'>
<a id='q1'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 1
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 1.</b> Create a spark data frame that contains your favorite programming languages.

- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

In [2]:
df = pd.DataFrame({'Language': ['python','javascript', 'css', 'html', 'java']})

In [3]:
df

     Language
0      python
1  javascript
2         css
3        html
4        java

In [4]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/19 09:21:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df = spark.createDataFrame(df)

In [6]:
df.printSchema()

root
 |-- Language: string (nullable = true)

In [7]:
num_rows = df.count()

columns = df.columns


num_columns = len(columns)


print("Shape: {} rows, {} columns".format(num_rows, num_columns))

Shape: 5 rows, 1 columns

In [8]:
df.show(5)

+----------+
|  Language|
+----------+
|    python|
|javascript|
|       css|
|      html|
|      java|
+----------+

<div style='background-color : lightblue'>
<a id='q2'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 2
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 2.</b> Load the mpg dataset as a spark dataframe.

- Create 1 column of output that contains a message like the one below:


The 1999 audi a4 has a 4 cylinder engine.
For each vehicle.

- Transform the trans column so that it only contains either manual or auto

In [9]:
mpg = data('mpg')

In [10]:
mpg = spark.createDataFrame(mpg)

In [11]:
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [165]:
mpg = mpg.withColumn("Message", F.concat(F.lit("The "), mpg.year,F.lit(" "), mpg.manufacturer,F.lit(" "), mpg.model, F.lit(" "), F.lit(" has a "), mpg.cyl, F.lit(" cylinder engine. ")))

In [13]:
mpg.select('Message').show(truncate=False)

+----------------------------------------------------------------+
|Message                                                         |
+----------------------------------------------------------------+
|The 1999 audi a4  has a 4 cylinder engine.                      |
|The 1999 audi a4  has a 4 cylinder engine.                      |
|The 2008 audi a4  has a 4 cylinder engine.                      |
|The 2008 audi a4  has a 4 cylinder engine.                      |
|The 1999 audi a4  has a 6 cylinder engine.                      |
|The 1999 audi a4  has a 6 cylinder engine.                      |
|The 2008 audi a4  has a 6 cylinder engine.                      |
|The 1999 audi a4 quattro  has a 4 cylinder engine.              |
|The 1999 audi a4 quattro  has a 4 cylinder engine.              |
|The 2008 audi a4 quattro  has a 4 cylinder engine.              |
|The 2008 audi a4 quattro  has a 4 cylinder engine.              |
|The 1999 audi a4 quattro  has a 6 cylinder engine.              |
|The 1999 audi a4 quattro  has a 6 cylinder engine.              |
|The 2008 audi a4 quattro  has a 6 cylinder engine.              |
|The 2008 audi a4 quattro  has a 6 cylinder engine.              |
|The 1999 audi a6 quattro  has a 6 cylinder engine.              |
|The 2008 audi a6 quattro  has a 6 cylinder engine.              |
|The 2008 audi a6 quattro  has a 8 cylinder engine.              |
|The 2008 chevrolet c1500 suburban 2wd  has a 8 cylinder engine. |
|The 2008 chevrolet c1500 suburban 2wd  has a 8 cylinder engine. |
+----------------------------------------------------------------+
only showing top 20 rows

In [14]:
mpg = mpg.withColumn("trans", F.when(F.col("trans").startswith("manual"), 'manual').otherwise('auto'))

In [15]:
mpg.show()

+------------+------------------+-----+----+---+------+---+---+---+---+-------+--------------------+
|manufacturer|             model|displ|year|cyl| trans|drv|cty|hwy| fl|  class|             Message|
+------------+------------------+-----+----+---+------+---+---+---+---+-------+--------------------+
|        audi|                a4|  1.8|1999|  4|  auto|  f| 18| 29|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  1.8|1999|  4|manual|  f| 21| 29|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  2.0|2008|  4|manual|  f| 20| 31|  p|compact|The 2008 audi a4 ...|
|        audi|                a4|  2.0|2008|  4|  auto|  f| 21| 30|  p|compact|The 2008 audi a4 ...|
|        audi|                a4|  2.8|1999|  6|  auto|  f| 16| 26|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  2.8|1999|  6|manual|  f| 18| 26|  p|compact|The 1999 audi a4 ...|
|        audi|                a4|  3.1|2008|  6|  auto|  f| 18| 27|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  1.8|1999|  4|manual|  4| 18| 26|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  1.8|1999|  4|  auto|  4| 16| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  2.0|2008|  4|manual|  4| 20| 28|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  2.0|2008|  4|  auto|  4| 19| 27|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  2.8|1999|  6|  auto|  4| 15| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  2.8|1999|  6|manual|  4| 17| 25|  p|compact|The 1999 audi a4 ...|
|        audi|        a4 quattro|  3.1|2008|  6|  auto|  4| 17| 25|  p|compact|The 2008 audi a4 ...|
|        audi|        a4 quattro|  3.1|2008|  6|manual|  4| 15| 25|  p|compact|The 2008 audi a4 ...|
|        audi|        a6 quattro|  2.8|1999|  6|  auto|  4| 15| 24|  p|midsize|The 1999 audi a6 ...|
|        audi|        a6 quattro|  3.1|2008|  6|  auto|  4| 17| 25|  p|midsize|The 2008 audi a6 ...|
|        audi|        a6 quattro|  4.2|2008|  8|  auto|  4| 16| 23|  p|midsize|The 2008 audi a6 ...|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto|  r| 14| 20|  r|    suv|The 2008 chevrole...|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto|  r| 11| 15|  e|    suv|The 2008 chevrole...|
+------------+------------------+-----+----+---+------+---+---+---+---+-------+--------------------+
only showing top 20 rows



<div style='background-color : lightblue'>
<a id='q3'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 3
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 3.</b> Load the tips dataset as a spark dataframe.

- What percentage of observations are smokers?
- Create a column that contains the tip percentage
- Calculate the average tip percentage for each combination of sex and smoker.

In [16]:
tips = data('tips')

In [17]:
tips = spark.createDataFrame(tips)

In [18]:
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [19]:
smoker_col_total = tips.select('smoker').count()

In [20]:
smokers = tips.filter(col('smoker') == 'Yes').count()

In [21]:
percentage_smokers = round((smokers / smoker_col_total) * 100)

In [22]:
# What percentage of observations are smokers?
percentage_smokers

38

In [23]:
1.01/ 16.99 * 100

5.9446733372572105

In [24]:
# Create a column that contains the tip percentage
tips = tips.withColumn('tip_percentage',F.round((tips.tip / tips.total_bill )* 100))

In [25]:
tips.show(5)

+----------+----+------+------+---+------+----+--------------+
|total_bill| tip|   sex|smoker|day|  time|size|tip_percentage|
+----------+----+------+------+---+------+----+--------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|           6.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|          16.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|          17.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|          14.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|          15.0|
+----------+----+------+------+---+------+----+--------------+
only showing top 5 rows

In [171]:
# Calculate the average tip percentage for each combination of sex and smoker.
tips.groupBy("sex", "smoker").agg(
    F.round(F.avg((tips.tip / tips.total_bill) * 100)).alias('avg_tip_%')).show()

+------+------+---------+
|   sex|smoker|avg_tip_%|
+------+------+---------+
|  Male|    No|     16.0|
|Female|    No|     16.0|
|  Male|   Yes|     15.0|
|Female|   Yes|     18.0|
+------+------+---------+

<div style='background-color : lightblue'>
<a id='q4'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 4
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 4.</b> Use the seattle weather dataset referenced in the lesson to answer the questions below.

- Convert the temperatures to fahrenheit.
- Which month has the most rain, on average?
- Which year was the windiest?
- What is the most frequent type of weather in January?
- What is the average high and low temperature on sunny days in July in 2013 and 2014?
- What percentage of days were rainy in q3 of 2015?
- For each year, find what percentage of days it rained (had non-zero precipitation).

In [27]:
from vega_datasets import data

In [28]:
weather = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
# weather = spark.createDataFrame(weather)
# weather.show(6)

In [29]:
weather

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9      fog
1457  2015-12-28            1.5       5.0       1.7   1.3      fog
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [30]:
weather = spark.createDataFrame(weather)

In [31]:
weather.show()

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
|2012-01-07|          0.0|     7.2|     2.8| 2.3|   rain|
|2012-01-08|          0.0|    10.0|     2.8| 2.0|    sun|
|2012-01-09|          4.3|     9.4|     5.0| 3.4|   rain|
|2012-01-10|          1.0|     6.1|     0.6| 3.4|   rain|
|2012-01-11|          0.0|     6.1|    -1.1| 5.1|    sun|
|2012-01-12|          0.0|     6.1|    -1.7| 1.9|    sun|
|2012-01-13|          0.0|     5.0|    -2.8| 1.3|    sun|
|2012-01-14|          4.1|     4.4|     0.6| 5.3|   snow|
|2012-01-15|          5.3|     1.1|    -3.3| 3.2|   snow|
|2012-01-16|          2.5|     1.7|    -2.8| 5.0|   snow|
|2012-01-17|          8.1|     3.3|     0.0| 5.6|   snow|
|2012-01-18|         19.8|     0.0|    -2.8| 5.0|   snow|
|2012-01-19|         15.2|    -1.1|    -2.8| 1.6|   snow|
|2012-01-20|         13.5|     7.2|    -1.1| 2.3|   snow|
+----------+-------------+--------+--------+----+-------+
only showing top 20 rows

In [32]:
# Convert the temperatures to fahrenheit.

In [37]:
weather = weather.withColumn("temp_max", F.round(col("temp_max") * 9/5 + 32))

In [38]:
weather = weather.withColumn("temp_min", F.round(col("temp_min") * 9/5 + 32))

In [40]:
weather.show(20)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    55.0|    41.0| 4.7|drizzle|
|2012-01-02|         10.9|    51.0|    37.0| 4.5|   rain|
|2012-01-03|          0.8|    53.0|    45.0| 2.3|   rain|
|2012-01-04|         20.3|    54.0|    42.0| 4.7|   rain|
|2012-01-05|          1.3|    48.0|    37.0| 6.1|   rain|
|2012-01-06|          2.5|    40.0|    36.0| 2.2|   rain|
|2012-01-07|          0.0|    45.0|    37.0| 2.3|   rain|
|2012-01-08|          0.0|    50.0|    37.0| 2.0|    sun|
|2012-01-09|          4.3|    49.0|    41.0| 3.4|   rain|
|2012-01-10|          1.0|    43.0|    33.0| 3.4|   rain|
|2012-01-11|          0.0|    43.0|    30.0| 5.1|    sun|
|2012-01-12|          0.0|    43.0|    29.0| 1.9|    sun|
|2012-01-13|          0.0|    41.0|    27.0| 1.3|    sun|
|2012-01-14|          4.1|    40.0|    33.0| 5.3|   snow|
|2012-01-15|          5.3|    34.0|    26.0| 3.2|   snow|
|2012-01-16|          2.5|    35.0|    27.0| 5.0|   snow|
|2012-01-17|          8.1|    38.0|    32.0| 5.6|   snow|
|2012-01-18|         19.8|    32.0|    27.0| 5.0|   snow|
|2012-01-19|         15.2|    30.0|    27.0| 1.6|   snow|
|2012-01-20|         13.5|    45.0|    30.0| 2.3|   snow|
+----------+-------------+--------+--------+----+-------+
only showing top 20 rows

In [ ]:
# Which month has the most rain, on average?

In [53]:
rain_weather = weather.filter(weather.weather == 'rain')

In [179]:
rain_weather.withColumn('month', F.month(F.col('date'))).groupby(
    'month', 'weather').agg(
    F.round(F.avg(weather.precipitation), 2).alias('avg_rain')).sort('avg_rain').show()

+-----+-------+--------+
|month|weather|avg_rain|
+-----+-------+--------+
|    9|   rain|    0.22|
|    7|   rain|    1.88|
|    2|   rain|    3.17|
|    5|   rain|    3.26|
|    4|   rain|    3.43|
|    6|   rain|    3.95|
|    3|   rain|    4.92|
|   12|   rain|    5.03|
|    8|   rain|    6.43|
|    1|   rain|    6.61|
|   11|   rain|    8.42|
|   10|   rain|    9.68|
+-----+-------+--------+

In [ ]:
# Which year was the windiest?

In [73]:
weather.withColumn('year', F.year(F.col('date'))).groupby(
    'year').agg(
    F.round(F.sum(weather.wind), 2).alias('total_wind')).sort('total_wind').show()

+----+----------+
|year|total_wind|
+----+----------+
|2013|    1100.8|
|2015|    1153.3|
|2014|    1236.5|
|2012|    1244.7|
+----+----------+

In [ ]:
# What is the most frequent type of weather in January?

In [77]:
weather..agg(withColumn('month', F.month(F.col('date'))).groupby(
    'month')
    F.mode(weather.weather)).show()

+-----+-------------+
|month|mode(weather)|
+-----+-------------+
|    1|          fog|
|    6|          sun|
|    3|          sun|
|    5|          sun|
|    4|          sun|
|    2|         rain|
|   12|          fog|
|    9|          sun|
|    8|          sun|
|    7|          sun|
|   10|          fog|
|   11|          fog|
+-----+-------------+

In [ ]:
# What is the average high and low temperature on sunny days in July in 2013 and 2014?

In [128]:
sunny_weather = weather.filter(weather.weather == 'sun')

In [129]:
sunny_weather.show(5)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-08|          0.0|    50.0|    37.0| 2.0|    sun|
|2012-01-11|          0.0|    43.0|    30.0| 5.1|    sun|
|2012-01-12|          0.0|    43.0|    29.0| 1.9|    sun|
|2012-01-13|          0.0|    41.0|    27.0| 1.3|    sun|
|2012-02-02|          0.0|    47.0|    35.0| 2.6|    sun|
+----------+-------------+--------+--------+----+-------+
only showing top 5 rows

In [130]:
sunny_weather = sunny_weather.filter(sunny_weather.date.substr(1, 4).isin(['2013', '2014']))

In [157]:
sunny_weather.show(5)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2013-01-01|          0.0|    41.0|    27.0| 2.7|    sun|
|2013-01-02|          0.0|    43.0|    30.0| 3.2|    sun|
|2013-01-12|          0.0|    37.0|    25.0| 2.0|    sun|
|2013-01-13|          0.0|    36.0|    24.0| 1.5|    sun|
|2013-01-14|          0.0|    38.0|    28.0| 1.3|    sun|
+----------+-------------+--------+--------+----+-------+
only showing top 5 rows

In [151]:
sunny_weather.withColumn('month', F.month(F.col('date'))).groupby(
    'month').agg(
    F.avg(sunny_weather.temp_max),F.avg(sunny_weather.temp_min)).show()

+-----+-----------------+------------------+
|month|    avg(temp_max)|     avg(temp_min)|
+-----+-----------------+------------------+
|    1|46.84615384615385| 36.26923076923077|
|    6| 73.3061224489796|54.285714285714285|
|    3|            54.85|              37.9|
|    5|69.88888888888889| 50.28888888888889|
|    4|61.35294117647059| 44.05882352941177|
|    2|44.92307692307692|              33.0|
|   12|44.57575757575758| 34.54545454545455|
|    9| 74.6470588235294| 56.14705882352941|
|    8|            79.42|             59.22|
|    7|80.28846153846153| 57.53846153846154|
|   10|59.93103448275862| 46.58620689655172|
|   11|51.03225806451613|38.096774193548384|
+-----+-----------------+------------------+

In [ ]:
# What percentage of days were rainy in q3 of 2015?

In [188]:
weather.filter(
    F.quarter(weather.date) == 3).filter(
    F.year(weather.date) == 2015
).select(
    (F.when(weather.weather == 'rain', 1).otherwise(0)).alias('rain')
).agg((F.round(F.mean('rain') * 100, 2)).alias('perc_rain')).show()

+---------+
|perc_rain|
+---------+
|     2.17|
+---------+

In [ ]:
# For each year, find what percentage of days it rained (had non-zero precipitation).

In [187]:
# nonzero precipitation
weather.withColumn(
    'year',
    F.year(weather.date)).withColumn(
    'has_rained',
    F.expr('precipitation > 0').cast('int')
).groupby('year').agg(
    F.round(F.avg('has_rained') * 100, 2).alias('percent_precip')
).show()

+----+--------------+
|year|percent_precip|
+----+--------------+
|2012|         48.36|
|2013|         41.64|
|2014|          41.1|
|2015|         39.45|
+----+--------------+